  body {
      background-color: hsl(185, 75%, 39%);
  }
  
  p {
      font: 18px;
      text-align: center;
  }
  
  #img_victor {
      display: block;
      border-radius: 50px;
      margin: auto;
  }
  
  .card-center {
      background-color: hsl(0, 0%, 100%);
      background-image: url(images/bg-pattern-card.svg), height: 30%;
      margin: auto;
      width: 30%;
      height: 200px;
      border: 3px;
      border-radius: 30px;
      padding: 20px;
      position: relative;
  }
  
  .bg_card {
      background-image: url(images/bg-pattern-card.svg);
      width: fit-content;
  }
  
  hr {
      color: grey;
      width: 80%;
  }